<h1>Sistema de Control de Materiales</h1>
<h2> Contructora INGESA</h2>
<% if current_user %>
<p>Ha sido logueado con exito</p>
 <p>Hola,<%= current_user.nombre%>, </p>
  <p>Tu correo es:<%= current_user.email%>, </p>
<p>Y tu tienes permisos de:<%= current_user.rol%>, </p>
<p><%=link_to "Salir", destroy_user_session_path, method: :delete %></p>
<% else %>
<p>No tiene iniciada sesion favor de registrarse o usar el login:</p>
<p><%=link_to "Registrarte", new_user_regitration_path%></p>
<p><%=link_to "Iniciar sesion", new_user_session_path%></p>
<% end %>